<div class="form-recipe">

  <% if @recipe.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= t('error.empty_gaps') %>
    </div>
  <% end %>

  <%= form_with(model: @recipe, local: true, class: "row g-3") do |form| %>
    <h1 class="h3 mb-3 fw-normal" style="margin-top: 50px"><%=t('page.edit_gaps') %></h1>

    <div class="row g-2">
      <div class="form-floating">
        <%= form.text_field :name, required: true, class: "form-control", :placeholder => t('recipe.name')%>
        <label for="floatingInput" style="margin-left: 10px"><%=t('recipe.name') %></label>
      </div>
    </div>
    <div class="row g-2">
      <h5><%=t('recipe.level') %></h5>
      <div class="col">
        <div class="form-check form-check-inline">
          <%= form.radio_button :level, 1, :checked => true, class: "form-check-input" %>
          <%= form.label :level, '1', class: "form-check-label", style: 'display: inline-block;' %>
        </div>
        <div class="form-check form-check-inline">
          <%= form.radio_button :level, 2, class: "form-check-input" %>
          <%= form.label :level, '2', class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= form.radio_button :level, 3, class: "form-check-input" %>
          <%= form.label :level, '3', class: "form-check-label" %>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="form-floating">
        <%= form.text_field :time, required: true, class: "form-control", :placeholder => t('recipe.time') %>
        <label for="floatingInput" style="margin-left: 10px"><%=t('recipe.time') %></label>
      </div>
    </div>

    <div class="row g-2">
      <div class="form-floating">
        <%= form.text_area :ingred, required: true, class: "form-control", :placeholder => t('recipe.ingred'), rows: 3 %>
        <label for="recipe_ingred" style="margin-left: 10px "><%=t('recipe.ingred') %></label>
      </div>
    </div>

    <div class="row g-2">
      <div class="form-floating">
        <%= form.text_area :descrip, required: true, class: "form-control", :placeholder => t('recipe.descrip'), rows: 5 %>
        <label for="recipe_descrip" style="margin-left: 10px "><%=t('recipe.descrip') %></label>
      </div>
    </div>

    <div class="row g-2">
      <div class="form-floating">
        <%= form.text_field :image, required: true, class: "form-control", :placeholder => t('recipe.url') %>
        <label for="floatingInput" style="margin-left: 10px"><%=t('recipe.url') %></label>
      </div>
    </div>

    <div class="col-1"></div>
    <div class="col-10">
      <%= form.submit value: t('save'), class: "w-100 btn btn-primary" %>
    </div>
    <div class="col-1"></div>

  <% end %>
</div>