<div class="container">
  <div class="row" style="margin-bottom: 40px; margin-top: 40px">
    <div class="col-10"><h2><%= @recipe.name %></h2></div>
    <div class="col-2" style="align-content: center">
      <% if !@recipe.present? && @recipe.user_id == current_user.id %>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <%= button_to(t('change'), edit_recipe_path(@recipe), method: :get, class: "btn btn-outline-secondary btn-sm") %>
          <%= button_to(t('delete'), @recipe, :method => "delete", data: true, class: "btn btn-outline-secondary btn-sm", style: "margin-left: 7px") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-between" style="justify-content: center">
    <div class="col-4">
      <div>
        <img class="img-fluid rounded" src="<%= @recipe.image %>"
             style="margin-bottom: 40px">
      </div>
      <div style="margin-bottom: 10px">
        <h6><%= t('recipe.level') %>
          <% @recipe.level.times do %>
            <img src="https://img.icons8.com/material-sharp/24/000000/star--v1.png"/>
          <% end %></h6>
      </div>
      <div style="margin-bottom: 10px">
        <h6><%= t('recipe.time') %> :
          <img src="https://img.icons8.com/ios-glyphs/30/000000/timer.png"/><%= @recipe.time %> мин. </h6>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <div>
        <h5><%= t('recipe.ingred') %> </h5>
        <p><%= @recipe.ingred %></p>
      </div>

      <div>
        <h5><%= t('recipe.descrip') %></h5>
        <p><%= @recipe.descrip %></p>
      </div>
    </div>
  </div>
</div>