<!DOCTYPE html>
<html>
  <head>
    <title>CookBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light" style="background-color: #ffe3ed;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #ff0081" href="#">Главная страница</a>
      <% if true %>
        <form class="d-flex">
          <a class="nav-link" style="color: #ff0081" href="#">Войти</a>
          <a class="nav-link" style="color: #ff0081" href="#">Зарегестрироваться</a>
        </form>
      <% else %>
        <form class="d-flex">
          <a class="nav-link" style="color: #ff0081" href="#">Изменить профиль</a>
          <a class="nav-link" style="color: #ff0081" href="#">Моя страница</a>
          <a class="nav-link" style="color: #ff0081" href="#">Добавить рецепт</a>
        </form>
      <% end %>
    </div>
  </nav>
    <%= yield %>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="background-color: #ffe3ed">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
  </body>
</html>
